.card-container {
    max-width: 240px;
    box-shadow: 3px 4px 4px rgba($color: #000000, $alpha: 0.3);
    cursor: pointer;
    border-radius: 2px;
}

.card-container:hover {
    border: 1px solid #ddd;
}

.text-card-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.text-card-info {
    font-size: 14px;
}