#characters-container {
    padding: 20px 40px;
}

#characters-list {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 17px;
}

.character {
    // margin-bottom: 20px;
}